{% load static %}
<!DOCTYPE html>
<html class='scroll-smooth' lang="en">
	<head>
		{% if title %}
			<title>Mercury - {{ title }}</title>
		{% else %}
			<title>Mercury</title>
		{% endif %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'src/styles.css' %}" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav class='bg-twitter-blue p-4 h-20 fixed top-0 w-full overflow-hidden'>
				<ul class='flex justify-between'>
					<div class='flex flex-row content-center justify-center'>
						<li class='text-white text-xl font-bold p-2'>Yap</li>
					</div>
					<div class='flex p-2'>
						<li class='text-white font-bold mr-5 p-2 hover:decoration-2 hover:underline hover:underline-offset-8'><a href="#home">Home</a></li>
						<li class='text-white font-bold mr-5 p-2 hover:decoration-2 hover:underline hover:underline-offset-8'><a href="#about">About</a></li>
						<li class='text-white font-bold mr-5 p-2 hover:decoration-2 hover:underline hover:underline-offset-8'><a href="#features">Features</a></li>
						<li class='text-white font-bold mr-5 p-2 hover:decoration-2 hover:underline hover:underline-offset-8'>Log In</li>
					</div>
				</ul>
			</nav>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
